<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Enter Details Here</h1>
    <form action="/" method="POST">
        <div class="form-group">
        <input type="text" name="name" placeholder="no. of times data input"/>
        <small class="form-text text-muted text-left">Enter Valid no</small>
        </div><br>
    <form action="/" method="GET">
        <div class="form-group">
        <input type="text" name="name" placeholder="write your name"/>
        <small class="form-text text-muted text-left">Enter Valid name</small>
        </div><br>
        <div class="form-group">
        <input type="email" name="email" placeholder="write email here"/>
        <small class="form-text text-muted text-left">Enter Valid Email</small>
    </div><br>
    <div class="form-group">
        <input type= "number" name="num" placeholder="write contact number"/>   
        <small class="form-text text-muted text-left">Enter Valid Contact no</small>
        </div>
        <br>
        <div class="form-group">
            <input type= "submit" name="submit" value="submit"/>   
            
            </div>
    </form>
    </body>
</html>